<h1> HEADER </h1>

 <% if (user_id) { %>
  <form method="POST" action="/logout" >
   <input type="submit" value="logout">
   currently signed in as: <%= user_id %>
  </form>
<%  } else { %>
 <a href="/urls/register"> register </a>
 <a href="/urls/login"> login </a>
 <% } %>


