<h1> HEADER </h1>

  <form method="POST" action="/login" >
      <input id="login" type="text" name="login">
      <input type="submit" value="sign in">
 </form>

 <% if ( username ){ %>
 <form method="POST" action="/logout" >
   <input type="submit" value="logout">
 </form>
 <% } %>
      currently signed in as: <%= username %>


