<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

  <header>
    <% include ./partials/_header %>
  </header>

 <ul>

      <li><%= shortURL %> : <%= longURL %> </li>
      <form method="POST" action="/urls/<%= shortURL %>" >
      <input id="longURL" type="text" name="longURL" <!-- placeholder=<%= longURL %> -->
      <input type="submit" value="Update">
    </form>

  </ul>


</body>
</html>


