<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>


<body>

<header>
    <% include ./partials/_header %>
</header>

  <h1> URLS </h1>
  <ul>
    <% for (key in urls){ %>
      <li><%= key %> : <%= urls[key] %> </li>
     <% } %>
     <li href #>  </li>
  </ul>


    <!-- Add your EJS code here -->
</body>
</html>